html {
    background: #e7d4b4 !important;
    color: #000000 !important;
    font-family: 'Abel', verdana, 'bitstream vera sans', arial, helvetica, sans-serif !important;
}
body {
    background: #e7d4b4 !important;
    margin: 5px !important;
    padding: 5px !important;
}
a{
    color: #f6f2ee !important;
    background: #5f8e9e !important; 
    padding: 3px;
    border-radius: 25px;
}
section.metadata {
    line-height: 1.1em !important;
}
section.proofDesc{
    border:black;
    border-style:dashed;
}
h1 {
    font-variant: small-caps;
    text-align: center !important;
    font-family: Baumans !important;
}
h2 {
    font-variant: small-caps;
    text-align: center !important;
    margin: 10px !important;
    text-decoration: underline overline;
    line-height: 2em !important;
    font-family: Baumans !important;
}
h3 {
    font-variant: small-caps;
    text-align: center !important;
    margin: 10px !important;
    line-height: 2em !important;
    font-family: Baumans !important;
}
ul.resPeeps {
    padding: 0;
    list-style:none;
}
/*.signature {
    float: right;
}*/
.IDperson {
    text-decoration: underline solid;
    color: #5f8e9e;
     font-weight:bold;
}
.IDplace {
    text-decoration: underline solid;
    color: #c64935;
     font-weight:bold;
}
.person {
    text-decoration: underline overline dotted #5f8e9e;
     font-weight:bold;
}
.place {
    text-decoration: underline overline dotted #c64935;
     font-weight:bold;
}
.team {
    color: #5f8e9e;
}
.bold {
    font-weight: bold;
}
.emphasis {
    font-style: italic;
    letter-spacing: .2em;
}
.italics {
    font-style: italic;
}
.underline {
    text-decoration: underline;
}
.super {
    vertical-align: super;
    font-size: smaller;
}
.regularized {
    text-decoration: underline dotted red;
    font-weight:bold;
}
.proofDesc{
    padding: 20px;
}
.key{
    text-align: center !important;
}
.commentOn{
    text-decoration: underline dotted black;
    font-weight:bold;
}
.diary,
.LiliDiary,
.GreteDiary {
    color: brown;
}
.strike{
    text-decoration:line-through;
}
